<div class="wrapper">

 <div class="form-signin">
  <div class="form-group">
	<h4>You're almost done! Now create a password to securely access your account.</h4>
  </div>

  <%= form_for(resource, :as => resource_name, :url => update_user_confirmation_path, :html => {:method => 'patch'}, :id => 'activation-form') do |f| %>
    <%= devise_error_messages! %>	

    <div class="form-control">
    	<%= f.password_field :password, autocomplete: "off", placeholder: "Password", :input_html => {:autofocus => true} %>
	</div>
	<div class="form-control">
    	<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Re-type Password" %>
    </div>
  <%= hidden_field_tag :confirmation_token, @confirmation_token %>

    <%= f.submit "Confirm Account", class: "btn btn-lg btn-primary btn-block" %>

  <% end %>

 </div>
</div>

