<div class="wrapper">

 <div class="form-signin">
  <div class="form-group">
    <h4>Welcome to WaterSpotter</h4>
    <p>Create a free account to post new locations to our map.</p>
  </div>

<div class="form-group">
<%= link_to '<i class="fa fa-facebook-official" aria-hidden="true"></i>Continue with Facebook'.html_safe, user_facebook_omniauth_authorize_path, class: "btn btn-block btn-social btn-facebook" %>
</div>

<div class="form-group">
  <small style="text-align:center" class="form-text text-muted">- OR -</small>
</div>  

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-control">
    <%= f.email_field :email, autofocus: true, placeholder: "Email Address" %>
  </div>
  <div class="form-group">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-control">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
  </div>
  <div clas="form-group">
      <small class="form-text text-muted">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
      </small>
  </div>

  <div class="form-control">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Re-type Password" %>
  </div>

  <%= f.submit "Continue", class: "btn btn-lg btn-primary btn-block"  %>

<% end %>

  <div class="form-group">
    <small class="form-text text-muted">
      By clicking Continue, you agree to WaterSpotter's <%= link_to "Terms & Conditions", "/terms" %> and <%= link_to "Privacy Policy", "/privacy" %>
    </small>
  </div> 


<div class="form-group">
<%= render "devise/shared/links" %>
</div>

</div>
</div>
