<div class="wrapper">

<script type="text/javascript">
    mixpanel.track("Add Location (Page)");
</script>

<script>
  var touchEvent = 'ontouchstart' in window ? 'touchstart' : 'click';
</script>

<div class="form-signin">

<h3>Add a New Location</h3>
<p>Add a new water spot to our database!</p>

  <%= form_for @submission do |f| %>

      <div class="form-control">
      <%= f.text_field :name, required: true, placeholder: "Give it a name!" %>
      </div>

      <div>
      <%= f.text_area :description, required: true, as: :text, class: "form-control", rows: "3", placeholder: "Describe it! How can we find it? What's it next to? Does the water taste good?" %>
      </div>

    <hr>
      
      <p><button class="btn btn-dark btn-block" data-toggle="button" aria-pressed="false" autocomplete="off" id="loc"><i class="fa fa-map-marker" aria-hidden="true"></i>    Use Current Location</button>
          <small class="form-text text-muted">This will automatically fill in the fields below</small>
      </p>

      <div class="form-control">
      <%= f.text_field :latitude, placeholder: "Latitude", id: "latitude" %>
      </div>

      <div class="form-control">
      <%= f.text_field :longitude, placeholder: "Longitude", id: "longitude" %> 
      </div>

      <div class="hidden">
      <%= f.label :nickname %><br>
      <%= f.text_field :nickname, hint: 'leave this field blank' %>
      </div>

      <!-- add current user email as hidden field -->
      <div class="hidden">
      <%= f.label :email %><br>
      <%= f.text_field :email, :value => current_user.email %>
      </div>


    <div class="form-group">
    <%= f.submit 'Submit Location!', class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
    </div>

      <script>
      document.getElementById('loc').addEventListener(touchEvent, getLocation);

      function getLocation() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);
          } else {
              console.log('Geolocation not active');
          }
      }
      function showPosition(position) {
          var lat = position.coords.latitude;
          document.getElementById("latitude").value = lat;

          var lon = position.coords.longitude;
          document.getElementById("longitude").value = lon;

      }
      </script>

</div>
</div>
