<div class="container w-50" style="padding-top: 20px">

<h2>Add a New Location</h2>
<p>Add a new water spot to our database!</p>

  <%= form_for @submission do |f| %>

  <div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, required: true, class: "form-control", placeholder: "e.g. Top of PV Switchbacks" %>
  </div>

  <div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, required: true, as: :text, class: "form-control", rows: "3", placeholder: "Describe the location -- how can we find it? Is it next to any landmarks?" %>
  </div>

  <h5>Advanced:</h5>

  <div class="form-group">
  <%= f.label :latitude %>
  <%= f.text_field :latitude, class: "form-control", placeholder: "e.g. 33.73" %>
  </div>

  <div class="form-group">
  <%= f.label :longitude %>
  <%= f.text_field :longitude, class: "form-control", placeholder: "e.g. -118.33" %> 
  </div>

  <div class="hidden">
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname, hint: 'leave this field blank' %>
  </div>

  <%= f.submit 'Submit', class: "btn btn-secondary" %>
  <% end %>

</div>








