<div class="container" style="padding-top: 20px">

<script>
  var touchEvent = 'ontouchstart' in window ? 'touchstart' : 'click';
</script>


<h2>Add a New Location</h2>
<p>Add a new water spot to our database!</p>
<p><button class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" id="loc">Current Location</button></p>

  <%= form_for @submission do |f| %>

  <div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, required: true, class: "form-control", placeholder: "e.g. Top of PV Switchbacks" %>
  </div>

  <div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, required: true, as: :text, class: "form-control", rows: "3", placeholder: "Describe the location -- how can we find it? Is it next to any landmarks?" %>
  </div>

  <div class="form-group">
  <%= f.label :latitude %>
  <%= f.text_field :latitude, class: "form-control", placeholder: "Enter latitude OR press Current Location", id: "latitude" %>
  </div>

  <div class="form-group">
  <%= f.label :longitude %>
  <%= f.text_field :longitude, class: "form-control", placeholder: "Enter longitude OR press Current Location", id: "longitude" %> 
  </div>

  <div class="hidden">
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname, hint: 'leave this field blank' %>
  </div>

  <%= f.submit 'Submit', class: "btn btn-secondary" %>
  <% end %>

      <script>
      document.getElementById('loc').addEventListener(touchEvent, getLocation);

      function getLocation() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);
          } else {
              console.log('Geolocation not active');
          }
      }
      function showPosition(position) {
          var lat = position.coords.latitude;
          document.getElementById("latitude").value = lat;

          var lon = position.coords.longitude;
          document.getElementById("longitude").value = lon;

      }
      </script>


</div>
