<div class="wrapper">

<script type="text/javascript">
    mixpanel.track("Add Location (Page)");
</script>

<script>
  var touchEvent = 'ontouchstart' in window ? 'touchstart' : 'click';
</script>


<div id='map' class='map-small'>
    <script>
//  Mapbox GL code 
    mapboxgl.accessToken = 'pk.eyJ1IjoiZHJpZGRsZWJhcmdlciIsImEiOiJjajh3aWhkbDMxczRiMzJvNGQ0azU3NjN5In0.o2fPEeGh3pH2-AeAAR0seQ';
     
    // needs logic where if you decline geolocation it just hovers at a certain location
    // need default map center???

      var startPos;
        navigator.geolocation.watchPosition(function(position) {
          startPos = position;
          var startLat = startPos.coords.latitude;
          console.log(startLat);
          document.getElementById("latitude").value = startLat;
          var startLong = startPos.coords.longitude;
          console.log(startLong);
          document.getElementById("longitude").value = startLong;
          //startCoords = [startLong, startLat];
          //map.setCenter(startCoords);
        });

      var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/light-v9',
        center: [-118.402, 33.911],
        zoom: 10.0 // starting zoom
      });

      const geolocate = new mapboxgl.GeolocateControl({
                positionOptions: {
                enableHighAccuracy: true
                },
                trackUserLocation: true
            })
      map.addControl(geolocate)
      setTimeout(geolocate._onClickGeolocate.bind(geolocate), 5)

      map.addControl(new mapboxgl.NavigationControl());
      map.dragRotate.disable();
      map.touchZoomRotate.disableRotation();

    </script>

</div>

<div class="form-signin">


<h3 style="text-align:center;">Add new WaterSpot</h3>

<table>
  <tr>
    <td class="col-lg" style="padding:0px;">
      <span id="current">Use Current Location</span>
      <span id="manual" class="hidden">Manual Entry</span>
    </td>
    <td class="col-" style="vertical-align: center;">

      <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch"></label>
    </div>

  </td>
</tr>
</table>

<script>
// if "myonoffswitch" is unchecked (off position), then reveal lat/long fields, STOP geolocation

$('#myonoffswitch').change(function(manual){
  if ($(this).prop('checked') == false){
    $('#map').slideToggle()
    $('#current').toggle()
    $('#manual').toggle()
    $('#lat-long').toggle()
    $('#latitude').val("")
    $('#longitude').val("") 
    map.remove(geolocate)   // STOP geolocation
  }
  // reload the page if "myonoffswitch" is checked back to true
  if ($(this).prop('checked') == true){
    location.reload();
  }
});

</script>

  <%= form_for @submission do |f| %>

      <div class="form-control">
      <%= f.text_field :name, required: true, placeholder: "Give it a name!" %>
      </div>

      <div>
      <%= f.text_area :description, required: true, as: :text, class: "form-control", rows: "3", placeholder: "Describe it! How can we find it? What's it next to? Does the water taste good?" %>
      </div>

    <hr>

    <div id="lat-long" class="hidden">
      <div class="form-control">
      <%= f.text_field :latitude, placeholder: "Latitude", id: "latitude" %>
      </div>

      <div class="form-control">
      <%= f.text_field :longitude, placeholder: "Longitude", id: "longitude" %> 
      </div>
    </div>

      <div class="hidden">
      <%= f.label :nickname %><br>
      <%= f.text_field :nickname, hint: 'leave this field blank' %>
      </div>

      <!-- add current user email as hidden field -->
      <div class="hidden">
      <%= f.label :email %><br>
      <%= f.text_field :email, :value => current_user.email %>
      </div>


    <div class="form-group">
    <%= f.submit 'Add to Map!', class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
    </div>



</div>
</div>
