<p>
	ID: <%= @location.id %><br>
	Name: <%= @location.name %><br>
	Description: <%= @location.description %><br>
	Latitude: <%= @location.latitude %><br>
	Longitude: <%= @location.longitude %><br>
	Has Restroom? <%= @location.nearby_restroom %><br>
	Added by: <%= @user.email %>
</p>