<div class="wrapper">

<div id='map' class='map-small'>

<script>
//  Mapbox GL code 
     var location_lat = '<%=@location.latitude%>'
     var location_long = '<%=@location.longitude%>'

    mapboxgl.accessToken = 'pk.eyJ1IjoiZHJpZGRsZWJhcmdlciIsImEiOiJjajh3aWhkbDMxczRiMzJvNGQ0azU3NjN5In0.o2fPEeGh3pH2-AeAAR0seQ';
    

      var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/light-v9',
        zoom: 15 // starting zoom
      });

      map.setCenter([location_long, location_lat]);

  		// create a HTML element for each feature
  		var el = document.createElement('div');
  		el.className = 'marker';

  		// make a marker for each feature and add to the map
  		new mapboxgl.Marker(el)
  		.setLngLat([location_long, location_lat])
  		.addTo(map);

      map.addControl(new mapboxgl.NavigationControl({
    	options: {showCompass: false}
      }));

    </script>

    <!-- static map for backup

	<img src = "https://api.mapbox.com/v4/mapbox.light/pin-m-water+285A98(<%= @location.longitude %>,<%= @location.latitude %>)/<%= @location.longitude %>,<%= @location.latitude %>,16.5/373x160.png?access_token=pk.eyJ1IjoiZHJpZGRsZWJhcmdlciIsImEiOiJjajh3aWhkbDMxczRiMzJvNGQ0azU3NjN5In0.o2fPEeGh3pH2-AeAAR0seQ" >
	
	-->

</div>

 <div class="location-data">

	<!-- what does this do???
	<p id="notice"><%= notice %></p>
	-->

	<% if @location.get_upvotes.size.nonzero? %>
		<div class="location-upvote">
		<h3>
			<span style="text-align:center" class="badge badge-pill badge-primary"><i class="fa fa-chevron-up" aria-hidden="true"></i> 
			<%= @location.get_likes.size %>
			</span> 
		</h3>
		</div>
	<% end %>

	<p>
	<small style="text-align:right; margin-top: -10px;" class="form-text text-muted">
		<%= link_to '[Close]', root_path %>
	</small>
	</p>

	<h4>
  	  	<%= @location.name %>
  	</h4>

	<p>
 		<%= @location.description %>
	</p>

	<hr>

	<p>
		<small class="form-text text-muted">
  		<strong>Latitude:</strong>
  		<%= @location.latitude %>
  		</small>
	</p>

	<p>
		<small class="form-text text-muted">
  		<strong>Longitude:</strong>
  		<%= @location.longitude %>
  		</small>
	</p>

	<hr>

	<p>
		<small class="form-text text-muted">
		<strong>Added:</strong>
			<%= @location.created_at.strftime("%m-%d-%Y") %>
		</small>
	</p>

	<p>

		<% if @location.flagged? %>
			<span class="text-danger">
				<b>This location has been flagged!</b>
			</span>
		<% elsif @location.get_upvotes.size.zero? %>
			<span class="text-warning">
			This location has not been verified yet.
			</span>	
		<% end %>

	</p>


  <% if user_signed_in? %>
  	<div class="row">
	<div class="col">

	<% if current_user.voted_for? @location %>
	<%= link_to '<i class="fa fa-check-circle" aria-hidden="true"></i> Verify'.html_safe, "/", method: :put, class: "btn btn-primary btn-block disabled", :disable => true %>
	<% else %>
	<%= link_to '<i class="fa fa-check-circle" aria-hidden="true"></i> Verify'.html_safe, verify_location_path(@location), method: :put, class: "btn btn-primary btn-block" %>
	<% end %>
	</div>

	<div class="col">

	<% if @location.flagged? %>
		<%= link_to '<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Flag'.html_safe, "/", class: "btn btn-danger btn-block disabled", :disabled => true %>

		<% else %>

		<%= link_to '<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Flag'.html_safe, flag_location_path(@location), method: :put, class: "btn btn-danger btn-block", :data => {:confirm => 'Are you sure you want to flag this location?'} %> 
	
	<% end %> 

	</div>
  	</div>
  <% else %>
  	<small class="form-text text-muted">
  		<%= link_to "Sign in", new_user_registration_path %> to validate or flag locations.
  	</small>
  <% end %>

</div>

</div>