<!DOCTYPE html>
<html>
  <head>
    <title>WaterFinder</title>
    <%= csrf_meta_tags %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' rel='stylesheet' />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  </head>

  <body>

  <div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        

        <div class="row">
        <div class="col-10">
            <h4 class="text-white">Map of free water spots in SoCal</h4>
            <span class="text-muted">This whole project was based on a simple idea: collaborate to build a list of all the free water fountains in our area. So we can ride our bikes, run, hike, and explore new places without worrying about running out of water.</span>
        </div>
        <div class="col-2">
            <% if user_signed_in? == true %>
            <ul class="list-group">
                <li class="list-group-item bg-dark"><%= link_to "Home", root_path, class: "text-white" %></li>
                <li class="list-group-item bg-dark"><%= link_to "Locations", locations_path, class: "text-white" %></li>
                <li class="list-group-item bg-dark"><%= link_to "Sign Out", signout_path, method: :delete, class: "text-white" %></li>

            </ul>
            <% end %>
        </div>

        </div>


    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand mb-0 h1"><%=link_to "WaterFinder", root_path, class: "text-white" %></span>
    <%= link_to "Add Location", "/submit", class: "btn navbar-toggler" %>

  </nav>

</div>

	  <%= yield %>

    <!-- flash messages -->
    <% flash.each do |name, message| %>
      <%= content_tag(:div, message, class: "alert alert-info #{name}") %>
    <% end %>
     
  </body>
</html>
