<!DOCTYPE html>
<html>
  <head>
    <title>WaterSpotter</title>
    <%= csrf_meta_tags %>


    <!-- this should eliminate "rubberband" scrolling -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="apple-touch-icon.png">
    <link rel="icon" sizes="192x192" href="icon-hires.png">
    <link rel="icon" sizes="128x128" href="icon-normal.png">


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.js'></script>
	  <link href='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' rel='stylesheet' />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>

    <!-- script to stop rubberband scrolling -->
    <script>
    document.addEventListener('touchmove', function(event) {
        event = event.originalEvent || event;
        if (event.scale !== 1) {
           event.preventDefault();
        }
    }, false);
    </script>

  <div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
  
  <nav class="navbar navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">

        <% if user_signed_in? %>
          <span class="text-muted"><%= link_to('Sign Out', destroy_user_session_path, method: :delete, class: "btn navbar-toggler") %></span>
        <% else %>
          <span class="text-muted"><%= link_to('Sign Up', new_user_registration_path, class: "btn navbar-toggler") %></span>
        <% end %>

      </li>
    </ul>

    <ul class="navbar-nav ml-auto justify-content-end">
      <li class="nav-item">
        <small><%= link_to "Terms & Conditions", "/terms", class: "text-muted" %>  |  
        <%= link_to "Privacy Policy", "/privacy", class: "text-muted" %></small></a>
      </li>
    </ul>

  </nav>

    <div class="bg-dark p-4">
        <table>
            <tr>
              <td colspan="3">
                <h3 class="text-white">WaterSpotter Beta<br>(Los Angeles)</h3>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <span class="text-muted">Our goal is to collaborate to build a list of all the free water fountains in our area, so we can ride our bikes, run, hike, and explore new places, without worrying about running out of water.</span>
              </td>
            </tr>
        </table>
      </div>

    </div>
  </div>
  <span class="text-nowrap">
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <span class="navbar-brand mx-auto"><%=link_to "WaterSpotter", home_path, class: "text-white" %></span>
    
    <!--
    <%= link_to "Add Location", "/submit", class: "btn navbar-toggler" %>
    -->

    <%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i> Add'.html_safe, "/submit", class: "navbar-toggler" %>

  </nav>
  </span>

</div>

    <!-- flash messages -->

        <% flash.each do |name, msg| %>
         <%= content_tag(:div, class: "alert alert-info #{name}", style: "margin-bottom: 0px;") do%>
            <%=msg%>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
         <%end%>

        <% end %>

    <!-- main content -->
	  <%= yield %>
     
  </body>
</html>
